// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';
@import 'variables';


#home_index {
  h3 {
    color: $header-text-color;
  }

  #amenities_list {
    background-color: $primary-bg;

    @include amenity-icon(60px);
  }

  #header {
    div {
      float: left;
      height: 100%;
      vertical-align: middle;
    }

    .logo {
      // max-height: 30%;
      max-width: 500px;
    }
    .statement {
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }

  #search {
    clear: both;
    .row {
      max-width: none;
    }    
  }

  @include search-btn();

  .logo {
    width: 300px;
    height: auto;   
  }

  .statement {
    font-size: 20pt;
    line-height: 100%;
  }
}
