// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';
@import 'variables';


#home_index {
  margin-top: 20px;
  margin-left: $margin-side;
  margin-right: $margin-side;

  h3 {
    color: $header-text-color;
  }

  #amenities_list {
    @include amenity-icon(60px);
  }

  #header {
    div {
      float: left;
      height: 100%;
      vertical-align: middle;
    }

    .logo {
      // max-height: 30%;
      max-width: 500px;
      border-right: 2px solid black;
    }
    .statement {
      padding-top: 10%;
      padding-bottom: 10%;
      float:left;
      margin-left: 5%;
    }
  }

  #search {
    clear: both;
    h3 {
      background-image: url('dot.jpg');
    }
    .row {
      max-width: none;
    }    
  }

  @include search-btn();

  .logo {
    width: 300px;
    height: auto;
  }

  .statement {
    font-size: 20pt;
    line-height: 100%;
  }

  @media screen and (max-width: $mobile-width) {
    .statement {
      display: none;
    }

    #header > .logo {
      border: 0;
    }
  }
}
