// Place all the styles related to the Institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';
@import 'variables';


$amenity-size: 30px;
$amenity-circle-size: $amenity-size * 2;

#institution_setup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul.breadcrumbs{
  padding-left: 3em;
}

#institutions_index, #institutions_amenity {
  @include search-btn();
  @include custom-btn($padding: rem-calc(2));

  .accordion{
    margin: 1em;
  }

  #filter-settings {
    text-align: center;

    .vertical_line{
      width: 1px;
      height: 150px;
      border-left: 1px solid black;
      padding: 0px;
    }
    .filter-title {
      width: 100%;
      clear: both;
    }

    .filter-btn-selected {
      @include filter-btn-selected();
      width: 75%;
      clear: both;
      height: 45px;
      border: 1px solid black;
      border-radius: 5px;

    }

    .filter-btn-deselected {
      @include filter-btn-deselected();
      width: 75%;
      clear: both;
      height: 45px;
      border-radius: 5px;
    }
  }
  
  #google-map-aerial {
    height: 400px;
	}

  #institutions_list {
    .institution-name {
      font-size: $title-font;
      float: left;
      width: 100%;
    }

    .institution {
      padding-left: $medium-spacing;
    }

    .institution:not(:first-child) {
      padding-top: 10px;
    }

    .institution:not(:last-child) {
        border-bottom: 1px solid $border-color;
        padding-bottom: 10px;
    }

    .amenities-list {
      @include amenity-icon(25px);
      margin-top: 20px;
    }
  }
}

#institutions_show {
  $maps-view-height: 200px;

  #institution-header {
    border-bottom: solid 1px $border-color;
    margin-bottom: $medium-spacing;
    padding-bottom: $medium-spacing;

    #institution-name {
      margin-bottom: 0px;
    }

    #address {
      p {
        margin-bottom: 0px;
      }
    }

    .amenities-list {
      @include amenity-icon(30px);
    }

    @media screen and (max-width: $mobile-width) {
      #offered_amenity{
        border-left: none;
        margin: 10px;
      }
      .amenities-list {
        @include amenity-icon(20px);
      }
    }
  }

  .restriction, .description {
    padding-left: $medium-spacing

  }

  #google-map-aerial, #google-map-street {
    border: solid 1px $border-color;
    height: $maps-view-height;
    padding-top: 50px;

    .spinner {
      margin-top: 40px;
    }
  }

  #institution-directions-link {
    text-align: center;
    margin-bottom: $medium-spacing;

    button {
      margin-bottom: 0px;
      width: 100%;
      background-color: #8FC876;
    }
  }

  #institution-desc, #institution-restrictions {
    margin-bottom: $medium-spacing;
    padding: $medium-spacing;

    // TODO: Remove when ready to deploy
    border: solid 1px black;
    padding: 1em;
  }

  #get-info {
    border: solid 1px $border-color;

    h4 {
      border-bottom: solid 1px $border-color;
      text-align: center;
    }
    .row {
      border-radius: 3%
    }
    .save-icon {
      width: 50px;
      height: 50px;
    }

    .label {
      margin-top: $small-spacing;
    }

    #subscribe {
      margin-top: 15px;
      padding-top: 15px;
      border-top: solid 1px $border-color;
      .button {
        width: 100%;
        border-radius: 3%;
      }
    }
  }
}

#institutions_new, #institutions_edit {
  #institution_form > div {
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 2%;
    padding-right: 2%;
  }

  #institution_form > div:not(:first-child) {
    border-top: solid 1px $border-color;
    margin-top: 20px;
    padding-top: 20px;
  }
}
