= link_to(amenity_path(@amenity.id), title: @amenity.desc, category: @amenity.name) do
  %div.row.category-bg
    %div.category-img= embedded_svg(@amenity.img, { class: "category-img", alt: @amenity.desc})
  - if @label.present?
    %div.row.category-label= @amenity.name
