- if hours.present?
  - if @open
    %p.label.success= t('hours.open')
  - else
    %p.label.alert= t('hours.closed')
  %table#hours-list
    %tbody
      %tr
        - Date::DAYNAMES.each do |d|
          %td= d
      %tr
        - hours.each do |h|
          %td= h
