%div#search
  - if @search_label.present?
    %h3= t('home.search_name') 
  %div.row.collapse
    %div.small-12.large-11.search
      %input{type: "text", placeholder: t('home.search_placeholder')}
    %div.small-12.large-1.search
      %button.search.postfix
