%div#home_index
  %ul#header.small-block-grid-1.large-block-grid-2
    %li.small-1.large-2.columns.logo= image_tag "logo_black.png"
    %li.small-1.large-2.columns.statement= t('home.statement')

  %div#search
    %h3= t('home.search_name')
    %div.row.collapse
      %div.small-10.columns
        %input{type: "text", placeholder: t('home.search_placeholder')}
      %div.small-2.columns
        %button.button.postfix

  %div#categories
    %h3= t('home.search_categories')
    %ul.categories.small-block-grid-2.large-block-grid-5
      - Amenity.all.each do |amenity|
        %li
          =embedded_amenity(amenity, label: true)
/ <%= link_to "Add to cart", {:controller => "car", :action => "add_to_cart", :car => car.id }%>
