@import 'variables'

#institutions_print {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
  .row {
    clear: both;
    min-width: 500px;
    overflow: auto;

    .column-info {
      float: left;
      word-wrap: none;
    }
    
    .column-label {
      float: left;
      font-weight: bold;
      min-width: 20px;
      width: 20%;
    }
  }

  #address {
    p {
      font-style: italic;
    }
  }

  #hours {
    table {
      border-collapse: collapse;
    }

    table, td, th {
      text-align: center;
      border: 1px solid black;
    }
  }

  h3, p {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  p, table {
    margin-left: 10px;
  }
  
}

#institutions_print > div:not(:last-child) {
  border-bottom: 1px solid $border-color;
}

#institutions_print > div {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
