@import 'variables';
@import 'foundation';

// Amenity icons
@mixin amenity-icon($size){
  $amenity-size: $size;
  $amenity-circle-size: $amenity-size * 2;

  .amenity-bg {
    margin-bottom: 10px;
    height: $amenity-circle-size;
    width: $amenity-circle-size;
    -moz-border-radius: $amenity-circle-size; 
    -webkit-border-radius: $amenity-circle-size; 
    border-radius: $amenity-circle-size;

    &:hover {
      height: $amenity-circle-size + 10px;
      width: $amenity-circle-size + 10px;
      margin-bottom:0px;

      .amenity-img {
        height: $amenity-size + 10px;
        width: $amenity-size + 10px;
      }
    }
  }

  .amenity-img {
    height: $amenity-size;
    width: $amenity-size;
    margin-top: ($amenity-circle-size - $amenity-size) / 4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    fill: white;
  }

  .amenity-label {
    text-align: center;
    color: $label-color;
    font-size: $amenity-font;
  }

  .amenity-clothing {
    background-color: #EA714D;
  }

  .amenity-food {
    background-color: #FB955F;
  }

  .amenity-bustickets {
    background-color: #FCB660;
  }

  .amenity-storage {
    background-color: #FED04F;
  }

  .amenity-recreation {
    background-color: #C6DC75;
  }

  .amenity-shelter {
    background-color: #95DC75;
  }

  .amenity-hygiene {
    background-color: #7ED9A3;
  }

  .amenity-medical {
    background-color: #60C7BA;
  }

  .amenity-hotline {
    background-color: #4EC1EC;
  }

  .amenity-employment {
    background-color: #2D98D5;
  }

}

//Filter button settings
$filter-btn-selected: #FFF;
$filter-btn-deselected: #AAA;
$filter-btn-padding: 0;
$filter-btn-radius: false;
$filter-btn-full-width: false;
$filter-btn-disabled: false;
$filter-btn-is-input: false;

@mixin filter-btn-selected {
  @include button($filter-btn-padding, $filter-btn-selected, $filter-btn-radius, $filter-btn-full-width, $filter-btn-disabled);
}

@mixin filter-btn-deselected {
  @include button($filter-btn-padding, $filter-btn-deselected, $filter-btn-radius, $filter-btn-full-width, $filter-btn-disabled);
}

// Search Style
@mixin search-btn {
  button.search  {
    background-color:lightgray;
    background-image: url(image-path('search.png'));
    background-position: 50%;
    background-repeat: no-repeat
  }

  .small-10>input, button.search {
    height:30px;
  }

}
