@import 'variables';

// Amenity icons
@mixin amenity-icon($size){
  $amenity-size: $size;
  $amenity-circle-size: $amenity-size * 2;

  .amenity-bg {
    height: $amenity-circle-size;
    width: $amenity-circle-size;
    -moz-border-radius: $amenity-circle-size; 
    -webkit-border-radius: $amenity-circle-size; 
    border-radius: $amenity-circle-size;
  }

  .amenity-img {
    height: $amenity-size;
    width: $amenity-size;
    margin-top: ($amenity-circle-size - $amenity-size) / 4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    fill: white;
  }

  .amenity-label {
    text-align: center;
    color: $label-color;
  }
}

//Filter button settings
$filter-btn-selected: #FFF;
$filter-btn-deselected: #AAA;
$filter-btn-padding: 0;
$filter-btn-radius: false;
$filter-btn-full-width: false;
$filter-btn-disabled: false;
$filter-btn-is-input: false;

@mixin filter-btn-selected {
  @include button($filter-btn-padding, $filter-btn-selected, $filter-btn-radius, $filter-btn-full-width, $filter-btn-disabled, $filter-btn-is-input);
}

@mixin filter-btn-deselected {
  @include button($filter-btn-padding, $filter-btn-deselected, $filter-btn-radius, $filter-btn-full-width, $filter-btn-disabled, $filter-btn-is-input);
}

// Search Style
@mixin search-btn {
  button.search  {
    background-image: url('search.png');
    background-position: 50%;
    background-repeat: no-repeat
  }

  .small-10>input, button.search {
    height:30px;
  }

}
