// Background
$primary-bg: #ffffff;
$secondary-bg: #ffffff;

// Home Margin
$margin-side: 10%;

$content-width: 80%;
$header-text-color: #F2A990;
$label-color: #A4A5A0;

// Buttons
$button-bg: #008CBA;

// Nav Bar
$nav-bg: #94cff7;
$nav-hover: #508bb3;
$nav-height: 45px;
$nav-bottom: 40px;

$small-spacing: 10px;
$medium-spacing: 20px;
$large-spacing: 40px;

// Loading Spinner
$spinkit-spinner-margin: 0 auto !default;
$spinkit-spinner-color: #333 !default;

// Font Size
$amenity-font: 17pt;
$title-font: 18pt;

// Colors
$white: #EEE;


// Screen Sizes
$mobile-width: 440px;
$desktop-width: 900px;

// Breadcrumbs 
$breadcrumb-bg: $nav-bg;

// Border Color
$border-color: #AAA;
