// Background
$primary-bg: #ffffff;
$secondary-bg: #ffffff;

$content-width: 80%;
$header-text-color: #F2A990;
$label-color: #A4A5A0;

// Buttons
$button-bg: #008CBA;

// Nav Bar
$nav-bg: #94cff7;
$nav-hover: #ab8680;
$nav-height: 45px;
$nav-bottom: 40px;

$small-spacing: 10px;
$medium-spacing: 20px;
$large-spacing: 40px;

// Loading Spinner
$spinkit-spinner-margin: 0 auto !default;
$spinkit-spinner-color: #333 !default;


// Colors
$white: #EEE;
