// Background
$primary-bg: #FBFFEE;
$secondary-bg: #FBFFEE;

// Home Margin
$margin-side: 10%;

$content-width: 80%;
$header-text-color: #F2A990;
$label-color: #A4A5A0;

// Buttons
$button-bg: #008CBA;

// Nav Bar
$nav-bg: #cda8a0;
$nav-hover: #ab8680;
$nav-height: 45px;
$nav-bottom: 40px;

$small-spacing: 10px;
$medium-spacing: 20px;
$large-spacing: 40px;

// Loading Spinner
$spinkit-spinner-margin: 0 auto !default;
$spinkit-spinner-color: #333 !default;

// Font Size
$amenity-font: 17pt;
$title-font: 22pt;

// Colors
$white: #EEE;

// Screen Sizes
$mobile-width: 440px;
$desktop-width: 900px;