// Place all the styles related to the capacity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#remaining-label {
  border: 1px solid #66CFC3;
}

#reserved {
  background-color: #EF7B5C;
  border-color: #EF7B5C;
}

#standby {
  background-color: #66CFC3;
  border-color: #66CFC3;
}

.delete {
  background-color: #C9C9C9;
  border-color: #000;
}
