// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
$category-size: 60px;
$category-circle-size: $category-size * 2;

#home_index {
  h3 {
    color: $header-text-color;
  }

  #categories {
    background-color: $background-color;

    .category-bg {
      height: $category-circle-size;
      width: $category-circle-size;
      -moz-border-radius: $category-circle-size; 
      -webkit-border-radius: $category-circle-size; 
      border-radius: $category-circle-size;
    }

    .category-img {
      height: $category-size;
      width: $category-size;
      margin-top: ($category-circle-size - $category-size) / 4;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      fill: white;
    }

    .category-label {
      text-align: center;
      color: $label-color;
    }
  }

  #header {
    div {
      float: left;
      height: 100%;
      vertical-align: middle;
    }

    .statement {
      padding-top: 15%;
      padding-bottom: 15%;
    }
  }

  #search {
    clear: both;

    .row {
      max-width: none;
    }    
  }
}
