// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_index {
  #categories {
    margin-top: 50px;
  }

  #categories p {
    text-align: center;
  }

  .category-img {
    height: 45px;
    width: 45px;
  }
}
