// Place all the styles related to the Institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Used for custom buttons
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/buttons";
@import "foundation/components/block-grid";
@import 'mixins';
@import 'variables';

$amenity-size: 30px;
$amenity-circle-size: $amenity-size * 2;

#institution_setup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#institutions_index, #institutions_amenity {
	@include search-btn();

	div.row {
		max-width: 100%;
	}

	#filter-settings {

		button {
			width: 100%;
		}

    .filter-btn-selected {
      @include filter-btn-selected();
    }

    .filter-btn-deselected {
      @include filter-btn-deselected();
    }
	}
	
	#map {
		height: 400px;
    border: 1px solid #AAA;
	}

	#institutions_list {
		
		.institution {
			padding-left: $medium-spacing;

			.institution-amenities {
				@include amenity-icon(15px);
			}
		}

    .institution:not(:first-child) {
      padding-top: 10px;
    }

    .institution:not(:last-child) {
        border-bottom: 1px solid #AAA;
        padding-bottom: 10px;
    }
	}
}

#institutions_show {
  $maps-view-height: 200px;

  .restriction, .description {
    padding-left: $medium-spacing
  }

  #institution-name {
    margin-bottom: 0px;
  }

  #address {
    margin-bottom: $medium-spacing;
    border-bottom: solid 1px #AAA;
    padding-bottom: $medium-spacing;

    p {
      margin-bottom: 0px;
    }

  }

  #get-info {
    border: solid 1px black;
  }

  #institution-aerial-map {
    height: $maps-view-height;

    // TODO: Remove when ready to deploy
    background-color: #DDD;
    border: solid 1px black;
    padding-top: 50px;
    text-align: center;
  }

  #institution-street-view {
    height: $maps-view-height;

    // TODO: Remove when ready to deploy
    background-color: #DDD;
    border: solid 1px black;
    padding-top: 50px;    
    text-align: center;
  }

  #institution-directions-link {
    text-align: center;
    margin-bottom: $medium-spacing;

    // TODO: Remove when ready to deploy
    background-color: #DDD;
    border: solid 1px black;
  }

  #institution-desc {
    margin-bottom: $medium-spacing;

    // TODO: Remove when ready to deploy
    border: solid 1px black;
  }

  #institution-restrictions {
    margin-bottom: $medium-spacing;

    // TODO: Remove when ready to deploy
    border: solid 1px black;
  }

  #get-info {
    
    h5 {
      border-bottom: solid 1px #AAA;
    }

    .save-icon {
      width: 50px;
    }

    .label {
      margin-top: $small-spacing;
    }

    // div.row:not(:last-child) {
    //   border-bottom: solid 1px #AAA;
    // }

    // TODO: Remove when ready to deploy
    border: solid 1px black;
  }

}

#institution-modal {
  button {
    width: 100%;
  }
}
