// Place all the styles related to the Institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Used for custom buttons
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/buttons";
@import "foundation/components/block-grid";
@import 'mixins';
@import 'variables';

$amenity-size: 30px;
$amenity-circle-size: $amenity-size * 2;

#institution_setup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#institutions_index {
	@include search-btn();

	div.row {
		max-width: 100%;
	}

	#filter-settings {

		button {
			width: 100%;
		}

    .filter-btn-selected {
      @include filter-btn-selected();
    }

    .filter-btn-deselected {
      @include filter-btn-deselected();
    }
	}
	
	#map {
		text-align: center;
		height: 400px;
	}

	#institutions_list {
		
		.institution {
			padding-left: 10px;
			border-bottom: 1px solid #AAA;

			.institution-amenities {
				@include amenity-icon(15px);
			}
		}
	}
}
