// Place all the styles related to the Institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#institution_setup {
 width: 80%;
 margin-left: auto;
 margin-right: auto;

 #amenities {

 }

 #general {

 }

 #location {

 }

 #restrictions {
 }
}

#institutions_index {
 .institution_node {
   border: 2px solid black;
   border-radius: 5px;
   width: 75%;
 }

 span {
 
 }
}
