@import 'variables';

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: $nav-height;
    width: 100%;
    z-index: 100;
    background-color: $nav-background;
    overflow: hidden;
    padding: 0;
}

.logo-nav {
    // background-image: image-url('logo_black.png'); 
    // background-position: center left;
    // background-repeat: no-repeat;
    // background-size: contain;
    // display: block;
    float: left;
    height: 100%;
}

div#menu {
    float: right;
}

div#nav-right {
    float: right;
}
