$cap-border-rad: 5px;
$cap-border-rad-meter: 5px;
$cap-color-bg: #666;
$cap-color-available: #9BE08B;
$cap-color-filled: #EF7B5C;
$cap-color-text: white;
$cap-height: 25px;
$cap-meter-padding: 3px;
$cap-spacing: 2px;

// Don't want these styles being applied to inner elements
.capacity-meter {
  border-radius: $cap-border-rad;
  -moz-border-radius: $cap-border-rad;
  -webkit-border-radius: $cap-border-rad;

  background-color: $cap-color-bg;
  color: $cap-color-text;
  font-size: 0;
  height: $cap-height;
  padding: $cap-meter-padding;
  position: relative;

  span {
    display: inline-block;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  span:first-child {
    border-top-left-radius: $cap-border-rad;
    border-bottom-left-radius: $cap-border-rad;
  }

  span:last-child {
    border-top-right-radius: $cap-border-rad;
    border-bottom-right-radius: $cap-border-rad;
  }

  // Specify colors of the different states
  .available { background-color: $cap-color-available; }
  .filled { background-color: $cap-color-filled; }
}
