$cap-border-rad: 5px;
$cap-border-rad-meter: 5px;
$cap-color-bg: #666;
$cap-color-free: #9BE08B;
$cap-color-reserved: #EF7B5C;
$cap-color-standby: #66CFC3;
$cap-height: 25px;
$cap-meter-padding: 3px;
$cap-spacing: 2px;

// Don't want these styles being applied to inner elements
.capacity-meter {
  border-radius: $cap-border-rad;
  -moz-border-radius: $cap-border-rad;
  -webkit-border-radius: $cap-border-rad;

  background-color: $cap-color-bg;
  font-size: 0;
  height: $cap-height;
  padding: $cap-meter-padding;
  position: relative;

  span {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  span:first-child {
    border-top-left-radius: $cap-border-rad;
    border-bottom-left-radius: $cap-border-rad;
    margin-right: $cap-spacing;
  }

  span:last-child {
    border-top-right-radius: $cap-border-rad;
    border-bottom-right-radius: $cap-border-rad;
    margin-left: $cap-spacing;
  }

  // Specify colors of the different states
  .free { background-color: $cap-color-free; }
  .reserved { background-color: $cap-color-reserved; }
  .standby { background-color: $cap-color-standby; }
}
