$capacity-font-size: 34pt;
$capacity-small-size: 20pt;

#capacity_index {
	.icon {
		height: 25%;
		width: 25%;
		transition: color 0.5s linear;
		-webkit-transition: background-color 0.5s linear;
		border-radius: 100%;
		&:hover {
			background-color:lightgray;
			cursor: pointer;
		}
	}
	#svg-label-res {
		font-size: 2rem;
		background-color: #EF7B5C;		
	}
	#svg-label-stdby{
		font-size: 2rem;
		background-color: #66CFC3;
	}
	#reserved-del {
		text-align: right;
	}
	#standby-del {
		text-align: right;
	}

	#reserved {
		text-align: left;	
	}
	
	#standby {
		text-align: left;
	}

	#remaining-label {
		text-align: center;
	}

	.inside {
		font-size: $capacity-font-size;
	}
	.data {
		font-size: $capacity-small-size;
	}

	.label {
		border-radius: 5%;
		margin-top:7%;
	}
	.center {
		text-align:center;
	}

}
