// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';
@import 'variables';

#account_index{
  ul{
    display: flex;
  }
  li {
    display: inline-block;
    float: left;
    height: auto;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    
    h3 {
      color: white;
    }
  }

  .capacity {
    background-color: #95DC75;
  }

  .profile {
    background-color: #60C7BA;
  }

  .notify {
    background-color: #2D98D5;
  }
}

